@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 400;
  src: url(NotoSansJP-Regular.otf);
}

@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  src: url(NotoSansJP-Bold.otf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url(Roboto-Bold.ttf);
}
